. filter=lfs diff=lfs merge=lfs -text
llama.cpp-ubuntu24/build-clang-ubuntu24.tar.zstd filter=lfs diff=lfs merge=lfs -text
tmp/cuda-drivers-515.105.01-1.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
bench-matrix.cpp filter=lfs diff=lfs merge=lfs -text
tmp filter=lfs diff=lfs merge=lfs -text
1.tar.gz filter=lfs diff=lfs merge=lfs -text
bench filter=lfs diff=lfs merge=lfs -text
build-llama-cuda13-for-rtx3090.tar.gz filter=lfs diff=lfs merge=lfs -text
llama.cpp-ubuntu24 filter=lfs diff=lfs merge=lfs -text
runpod-start.sh filter=lfs diff=lfs merge=lfs -text
bench/bench-flops.py filter=lfs diff=lfs merge=lfs -text
bench/benchmark-tensor-vs-cuda.py filter=lfs diff=lfs merge=lfs -text
bench/mem4.py filter=lfs diff=lfs merge=lfs -text
build-clang-ubuntu24.tar.zstd filter=lfs diff=lfs merge=lfs -text
llama-rtx3090-Sept20206.tar.gz filter=lfs diff=lfs merge=lfs -text
memory-benchmark.py filter=lfs diff=lfs merge=lfs -text
aotriton/ao-triton-patch.txt filter=lfs diff=lfs merge=lfs -text
bench/bench-matrix.cpp filter=lfs diff=lfs merge=lfs -text
llama.cpp-ubuntu24/beelama-cuda13.tar.gz filter=lfs diff=lfs merge=lfs -text
tmp/nvidia-driver-cuda-590.48.01-1.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
aotriton filter=lfs diff=lfs merge=lfs -text
benchmark-tensor-vs-cuda.py filter=lfs diff=lfs merge=lfs -text
flash-2.8.2-cuda280.tar.gz filter=lfs diff=lfs merge=lfs -text
bench/memory-benchmark.py filter=lfs diff=lfs merge=lfs -text
